BOT_TOKEN=123456789:AAGASD2cxfatkDasDE22dqfawdfawd2WD-UI
BOT_DEV_ID=123456789
BOT_GROUP_ID=-100123456789
BOT_EMOJI_ID=5417915203100613993

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

DB_NAME = "bot"  # Имя базы данных
DB_USER = "myuser"  # Логин пользователя базы данных
DB_PASSWORD = "6901"  # Пароль пользователя базы данных
PG_HOST = "localhost"  # Адрес сервера PostgreSQL (менять не рекомендуется)
PG_PORT = "5432"  # Порт сервера PostgreSQL (менять не рекомендуется)
DATABASE_URL = f"postgresql+asyncpg://{DB_USER}:{DB_PASSWORD}@{PG_HOST}:{PG_PORT}/{DB_NAME}"  # Полная строка подключения (формируется автоматически, не меняйте вручную)